
:root {
    --black: #000000;
    --white: #ffffff;
    --teal: #74E7D9;
    --mint: #CBF6F1;
    --tan: #FFE8D6;
    --brown: #cb997e;
  }

  .title {color:#ffffff}
  .tabs.is-boxed a {
  
    border-radius: 87px 87px 0 0;
    
  }
  .title {
    color:#ffffff;

  }
body {
      position: relative;
      min-height: 100%;
      min-height: 100vh;
}
  .button{
      margin-left: 20px;
      margin-top: 20px;
      background-color: blue;
  }
  #Rounded .box {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}
  body .navbar {
    background-color:var(--tan);
    color:var(--brown);
    font-family:'Fredoka';
  }
body a{
  color:var(--brown);
      font-family:'Fredoka';
      font-size: 20px;
   }

   body a:hover{
    color:#74E7D9;
   }



.ActivityFeed {
    display: flex;
    flex-wrap: wrap;
   justify-content:center;
   padding-left: 10px;
   
}

.DogPhoto {
    width: 65px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px
}

.DogPhotoTab {
    width: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
}

.is-small .is-primary button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;

}

.tabs {
  border-top-left-radius: 65px;
    border-top-right-radius: 65px;

}
.tabs.is-boxed li.is-active a {
    background-color: var(--brown);
    border-color: var(--brown);
    border-bottom-color: transparent!important;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
}
.tabs.is-boxed li.is-active a {
    background-color: var(--brown);
    border-color: #dbdbdb;
    border-bottom-color: transparent !important;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
}

.tabs.is-boxed li.is-inactive a {
  border: 1px solid transparent;
  border-top-left-radius: 65px;
    border-top-right-radius: 65px;
}
.tabs.is-boxed li a {
  border-radius: 87px 87px 0 0;
  
  border-top-left-radius: 65px;
    border-top-right-radius: 65px;
}
.tabs.is-boxed li.is-inactive a{
  border: 1px solid transparent;
  
  border-top-left-radius: 65px;
    border-top-right-radius: 65px;
}
.tabs li.is-inactive a {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top;
  border-top-left-radius: 65px;
    border-top-right-radius: 65px;
}

.tabs li.is-inactive a {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top;
  border-top-left-radius: 65px;
    border-top-right-radius: 65px;
}

/* .isActive{
  background-color:red;
  display:block;
  width:1000px;
}
.isInactive {
  background-color: blue;
  display:none;
  width:1000px
}
 */

 .navbar-item.is-mega {
  position: static;
 }
  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }


    .spaceBehind {
      background-color: #CBF6F1;
      background-image: url(../images/pattern.jpg);

  
      background-color: #cccccc; /* Used if the image is unavailable */

    background-position: fixed; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
  
    }
  

  .ActivityFeed {
    background-color: #fefefe;
  }

  .box {
    width: 550px;
   margin: 20px 20px 20px 20px;
   padding-left: 0px;
  }
  .Circle {
   
    background-color: #74E7D9;
    border-radius: 100%;
    width:72px;
    height:72px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .tabs.is-boxed a:hover {
    background-color: #74E7D9;
    border-bottom-color: #74E7D9;
}

.tabHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

/* footer {
  position: absolute; right: 0;bottom:0;left:0;
} */


.activityIcon{
  width:40px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 10px;
}

.tabs :hover {
color:#cb997e
}

.profilePhotoHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#cb997e;
  font-size: 14px;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  display: flex;
  align-items: flex-end;
}


.Addactivity{
padding-left: 81px;
}

.dogPhotoModal {
  display: flex;
  align-content: flex-end;
}