:root {
  --black: #000000;
  --white: #ffffff;
  --teal: #74E7D9;
  --mint: #CBF6F1;
  --tan: #FFE8D6;
  --brown: #cb997e;
}

@media screen and (max-width: 844px) {
  body {
    width: 400px;
  }
  .login {
    width:386px;
    display:flex;
    justify-content: center;
    padding-bottom: 0px;
  }
    .Registration {
      display: flex;
      justify-content: center;
      width: 200px;
      margin-left: 95px;
      margin-top: 30px;
    }
      Footer {
       
        font-size: 12px;
      }

      Footer a {
        font-size: 14px;
      }
      
    }
  
    .ActivityFeed {
      padding: 300px, 300px, 300px, 300px;
    }


 #Register{
  display: flex;
  justify-content: center;
  }


  .activityIcon {
    width: 57px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 14px;
}

.isActive{
  
  color:#cb997e;
  font-family: Fredoka ;
  display:block;
  width:1000px;
  
}
.isInactive {
  
  display:none;
  width:1000px
}

body {
  background-color:#fbfbfb;
  margin-bottom: 1px;    
}

.title {color:#ffffff}

.box {
  background-color:#000000;
}

.tabs{
  margin-bottom: 0px;
}

.topLine {
  display: flex;
  justify-content: flex-end;
  width: 50px;
}

.topLeft {
display: flex;
justify-content: flex-start;
padding-left: 255px;


}

.cardHeading {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 30px;
 
}

.dogInfo {
  color:#3f4343;
  font-family:fredoka-light;
  font-size: 14px;
  padding-top: 20px;
}


.MuiBox-root{
  border-radius: 30px;
  border: none;
  font-family: fredoka;
  font-size:medium;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.careTakerModal {
  display: flex;
  justify-content: flex-start;

 
  width: 1005px;
  height: 32px;
}
